name: CI
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  linting:
    runs-on: ubuntu-latest
    strategy:      
      matrix:
        python-version: [3.8]
        tox-env: [docs, black, flake8]
    steps:
    - uses: actions/checkout@v2
    - name: Using Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install tox
      run: python -m pip install tox
    - name: Run tox env ${{ matrix.tox-env }}
      run: tox -e ${{ matrix.tox-env }}
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: ["3.8", "3.9", "3.10"]
        include:
        - os: macos-latest
          python-version: 3.8
        - os: windows-latest
          python-version: 3.8
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install tox
        run: python -m pip install tox
      - name: Test
        run: tox -e py

